[Unit]
Description= Config Manager Service


[Service]
User=oumaima
WorkingDirectory=/home/oumaima/MultiprotocolGateway
ExecStart=/usr/bin/python3  /home/oumaima/MultiprotocolGateway/ConfigManagerServer.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
