[Unit]
Description= Config Manager Service


[Service]
User=oumaima
WorkingDirectory=/home/oumaima
ExecStart=/usr/bin/python3  /home/oumaima/Downloads/gRPCProject-main/ConfigManagerServer.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
