[Unit]
Description= MQTT Manager Service
After=Config_Manager.service


[Service]
User=oumaima
WorkingDirectory=/home/oumaima
ExecStart=/usr/bin/python3  /home/oumaima/MultiprotocolGateway/MQTT_Server.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
